.modal {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
  height: 100vh;
  padding: 16px;
  z-index: 100;

	&__close {
    position: absolute;
    top: 0;
    right: 0;
		width: 30px;
		height: 30px;
    cursor: pointer;
	}

	&__buttons {
    border: 1px slid red;
		width: 100%;
		position: absolute;
    display: flex;
    justify-content: space-between;

		// &__prev,
		// &__next {
		// 	position: absolute;
		// }
	}

	&__image {
		border: 1px solid red;

		img {
			width: 100%;
			height: auto;
		}
	}
}
