//@import "../scss/variables";
//@import "../scss/settings";

.plant {

  &__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    width: 100px;
    height: 150px;
  //  border: 1px solid red;
    background-color: white;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(69, 118, 56, 0.9);
  //  font-size: 1rem;
    // line-height: 100px;
    // text-align: center;
    //  color: $color-list-name;
    cursor: pointer;
    position: relative;
  }

  &__img {
    width: 80px;
    height: 100px;
    border: none;
    border-radius: 10px;
    color: $color-txt-main;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: .5s;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: $color-txt-main;
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
   // background: url("../assets/trash-2.svg") no-repeat center/contain;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    transition: .5s;

    &:hover {
      transform: scale(1.5) translate(5px, -5px);
      box-shadow: none;

    }
  }

  &__add {
    margin: auto 25px;
    line-height: 150px;
    background-color: transparent;
    font-size: 50px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      transform: scale(1.1);
    }
  }
}

