@import "../scss/variables";
@import "../scss/settings";

.profile {
  font-size: 1rem;
  color: $color-txt-main;

  &__date,
  &__care,
  &__name {
    display: block;
    margin: 20px;
  }

  &__care {
    width: 80vw;
    border-radius: 20px;
    box-shadow: 0 0 10px $color-main-shadow;
    margin: 0 auto;
    padding: 1.5rem;
  }

  &__edit__btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &__diary {
    width: 80vw;
    padding: 1.5rem;

    &__add {
      margin-top: 20px;
    }

    &__list {
      padding: 40px;
      margin: 0 auto;

      li {
        padding: 1rem;
        list-style: none;
        box-shadow: 0 5px 10px -3px $color-main-shadow;
      }
    }
  }

  a {
    color: $color-home-title;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px green;
    cursor: pointer;
    color: green;
  }
}

