//@import "../scss/variables";
//@import "../scss/settings";
@use 'sass:color';

.profile {
  padding: 0 1rem 0 1rem;
  color: $color-txt-main;
  position: relative;
  min-height: 100vh;
  background: url("../assets/bg-7.jpg") no-repeat center/cover;

  @media (min-width: $tablet) {
    padding: 0;
  }

  &__title {
    padding: 2rem;
  }

  &__img {
    width: 200px;
    height: 250px;
    margin: 0 auto;

    @media (min-width: $tablet) {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    &__img {
      width: 100%;
      height: auto;
      overflow: hidden;
      outline: none;
    }
  }

  &__date,
  &__species {
    font-size: 1.5rem;
    display: block;
    margin-top: 2rem;

    @media (min-width: $tablet) {
      margin-left: 2rem;
    }
  }

  &__care {
    width: 80vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin: 3rem auto 0 auto;
    padding: 1.5rem;
  }

  &__edit__btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 3;
  }

  &__diary {
    width: 75vw;
    //padding: 1.5rem 0 1.5rem 0;
    margin-top: 3rem;
    position: relative;

    @media (min-width: $tablet) {
      margin-left: 2rem;
    }

    &__add {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      box-shadow: none;
      outline: none;
      background-color: $color-btn;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5rem;
      text-align: center;
      transition: .5s;

      &:hover {
       // background-color: lighten($color-btn, 20%);
        background-color: transparent;
        color: $color-txt-main;
      }
    }

    &__list {
      padding: 0;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: bold;

      &__item {
        background-color: white;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: normal;
        list-style: none;
        box-shadow: 0 5px 10px -3px grey;
      }
    }
  }

  &__home {
    color: $color-home-title;
    text-transform: uppercase;
    position: fixed;
    top: 1rem;
    left: 1rem;
    transition: .5s;

    &:hover {
      color: lighten($color-home-title, 20%);
    }
  }
}

