.container {
  @media (min-width: $laptop) {
    width: $laptop;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
  }
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 10px $color-btn;
  cursor: pointer;
  color: $color-btn;
  transition: .3s;
  outline: none;

  &:hover {
    color: lighten($color-btn, 20%);
    box-shadow: 0 0 10px lighten($color-btn, 20%);
  }

  &:active {
      transition: .1s;
      transform: scale(.9);
  }
}

.add__form {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px 0;
  width: 80vw;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 10px $color-main-shadow;
  z-index: 3;

  form {

    label {
      display: block;
      margin-top: 10px;
    }

    input {
      display: block;
      border: none;
      outline: none;
      border-bottom: 1px solid green;
      background-color: transparent;
    }
  }
  &__btn {
    margin-top: 2rem;
    position: relative;

    &__progress {
      border-radius: 30px;
      background-color: $color-btn;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      color: #1aff00;
      font-size: 100%;
      line-height: 35px;
    }
  }

  &__err {
    color: $color-err;
    margin-top: 1rem;
  }
}

.add__close__btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: .8s;
  transform-origin: center;

  &:hover {
    transform: rotate(360deg);
  }

  &:active {
    transition: .1s;
    transform: scale(.9);
  }

  span {
    display: inline-block;
    height: 1px;
    width: 16px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: $color-btn-close;

    &:first-of-type {
      transform: rotate(45deg);
    }

    &:last-of-type {
      transform: rotate(-45deg);
    }
  }
}