$color-home-title: #008000;
$color-list-shadow: #00ff00;
$color-list-border: #008000;
$color-list-name: #af0909;
$color-add-plant-background: rgba(255, 125, 82, 0.5);

$color-txt-main: #000;
$color-background-main: #fff;



$laptop: 1024px;
