$color-home-title: #008000;
$color-main-shadow: rgba(0, 0, 0, 0.9);
$color-list-border: #008000;
$color-list-name: #af0909;
$color-add-plant-background: rgba(255, 125, 82, 0.5);
$color-btn: #008000;
$color-btn-close: #008000;

$color-txt-main: #b83f1a;
$color-background-main: #fff;


$tablet: 750px;
$laptop: 1024px;
